extends layout

block content
  script function cancelAdd(){window.location.href = '/desks';}
  h1=title
  p #[a(href='/') home]
  p #[a(href='../../desks') desks]
  form(method="post", action="/desks/edit/#{desks[0].deskID}")
    table(cellpadding="11", cellspacing="0")
      tr
        td 
          strong X Coordinate
        td 
          input(type="text", name="xcoordinate", value="#{desks[0].xcoordinate}", required)
      tr
        td 
          strong Y Coordinate
        td 
          input(type="text", name="ycoordinate", value="#{desks[0].ycoordinate}", required)
      tr
        td
          strong Width
        td
          input(type="texts", name="Width", value="#{desks[0].width}", required)
      tr
        td 
          strong Height
        td 
          input(type="text", name="password", value="#{desks[0].height}", required)
      tr
        td 
          input(type="submit", name="submit", value="Save")
        td 
          input(type="button", name="cancel", value="Cancel", onClick="cancelAdd()")